h1 {
  position: fixed;
  top: -20px;
  left: -20px;
}

a, p, h2 {
  line-height: 1.5;
  text-decoration: none;
}

button {
  font-family: 'Times New Roman', Times, serif;
}

.row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main button {
  margin-top: 20px;
}

header {
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid gray;
  top: 0px;
  z-index: 3;
}

.logo {
  margin: 20px auto 20px 10px;
}

#menu-control {
  position: fixed;
  top: -20px;
}

section {
  margin-bottom: 50px;
}

.preamble, .service, .question {
  margin-bottom: 30px;
}

.main {
  margin-top: 150px;
}

.main .preamble .row:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main a {
  margin-top: 20px;
  margin-right: 20px;
}

img {
  width: 100%;
  vertical-align: top;
}

.content {
  padding: 0px 50px;
}

.loud, h2 {
  font-size: 36px;
  margin: 50px 0px;
}

h3, .title {
  font-size: 30px;
  margin-bottom: 20px;
}

.colored, .colored-reverse, .colored-advantage {
  font-size: 16px;
  height: 36px;
  display: inline-block;
  padding: 10px 20px 0px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.colored {
  color: #fff;
  background-color: #1fde82;
  border: 1px solid #1fde82;
}

.colored:hover {
  background-color: slategrey;
  border: 1px solid slategrey;
}

.colored-reverse {
  border: 1px solid slategrey;
  color: slategrey;
}

.colored-reverse:hover {
  color: #fff;
  background-color: #1fde82;
  border: 1px solid #1fde82;
}

.subscribe-btn {
  height: 48px;
  padding-bottom: 10px;
}

.colored-advantage {
  border: 1px solid white;
  color: white;
  margin-top: 20px;
}

.colored-advantage:hover {
  background-color: #1fde82;
  border: 1px solid #1fde82;
}

.service-content.row {
  border-radius: 2%;
  background-color: #e9e6e6;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.service-item {
  background-color: #fff;
  border-radius: 5%;
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-round {
  width: 75px;
  margin-bottom: 20px;
}

.readmore {
  color: slategrey;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.readmore:hover {
  color: #1fde82;
}

.advantage {
  background-color: #2570ff;
  color: #fff;
}

.data-item {
  background-color: #3f81ff;
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 5%;
}

.data-item .num {
  font-size: 36px;
  margin-bottom: 30px;
}

.step .step-row {
  margin-bottom: 30px;
}

.project-item {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.project-item .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-left: 20px;
  margin: auto;
  opacity: 0;
  font-size: 20px;
}

.project-item:hover .show {
  background-color: #1fde82;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.viewsite {
  margin-right: auto;
}

.signup-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.signup-input input, textarea {
  width: 100%;
  font-size: 22px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.subscribe-container {
  max-width: 900px;
  padding: 0px 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

[type="email"] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 26px;
}

.send-btn {
  padding-bottom: 10px;
}

footer .row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content .title {
  font-size: 22px;
}

.footer-content .logo {
  margin-top: -15px;
  margin-left: -10px;
}

@media screen and (max-width: 767px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    height: 100%;
    width: 30%;
    background-color: #ffe;
    right: -100%;
    padding-top: 100px;
    padding-left: 20px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .menu a {
    margin-bottom: 20px;
  }
  .menu a:hover {
    border-bottom: 1px solid gray;
  }
  .menu .subscribe-btn {
    display: none;
  }
  .ham {
    width: 50px;
    height: 50px;
    background-color: #1fde82;
    -webkit-transition: .3s;
    transition: .3s;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .ham span {
    width: 80%;
    height: 6px;
    background-color: #fff;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
  }
  .ham span:first-child {
    top: 10px;
  }
  .ham span:nth-child(2) {
    top: 0px;
    bottom: 0px;
  }
  .ham span:last-child {
    top: auto;
    bottom: 10px;
  }
  #menu-control:checked + .menu {
    right: 0px;
    top: 0px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  #menu-control:checked ~ .ham {
    background-color: #ffa;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    margin-top: 20px 0px;
  }
  .menu a {
    margin-right: 15px;
  }
  .data-item {
    min-height: 150px;
  }
  .step .step-row:nth-of-type(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .project h2 {
    margin-right: auto;
  }
  .project .colored {
    margin-left: auto;
  }
  .project-item {
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .loud, h2 {
    font-size: 56px;
  }
  .advantage .data-item {
    text-align: left;
  }
  .advantage .data-item .num {
    font-size: 54px;
  }
  .step .step-row:nth-of-type(odd) .step-content:nth-child(1) {
    margin-left: 8.333333%;
  }
  .step .step-row:nth-of-type(1) .step-content:nth-child(1) {
    margin-right: 8.333333%;
  }
  .step .step-row:nth-of-type(even) .step-content:nth-child(1) {
    margin-left: 16.666666%;
  }
}
/*# sourceMappingURL=style.css.map */