html{
    scroll-behavior: smooth;
}

h1{
    margin: 20px 0px;
}

a, p, h2{
    line-height: 1.5;
    text-decoration: none;
}

.play{
    display: flex;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    height: 48px;
    padding: 10px;
    text-transform: uppercase;
    i{
        font-size: 32px;
        margin-left: 10px;
    }
}

.row{
    align-items: center;
}

.main button{
    margin-top: 20px;
}

header{
    width: 100%;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid gray;
    top: 0px;
    z-index: 3;
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu-control{
    position: fixed;
    top: -20px;
}

section{
    margin-bottom: 50px;
}
.preamble, .service, .question{
    margin-bottom: 30px;
}

.main{
    margin-top: 150px;
    .preamble .row:nth-child(even){
        flex-direction: row-reverse;
    }
}

.main a{
    margin-top: 20px;
    margin-right: 20px;
}

img{
    width: 100%;
    vertical-align: top;
}

.content{
    padding: 0px 50px;
}

.loud, h2{
    font-size: 36px;
    margin: 50px 0px;
}

h3, .title{
    font-size: 30px;
    margin-bottom: 20px;
}

.colored, .colored-reverse, .colored-advantage{
    font-size: 16px;
    height: 36px;
    display: inline-block;
    padding: 10px 20px 0px;
    text-decoration: none;
    transition: 0.5s;
}
.colored{
    color: #fff;
    background-color: #1fde82;
    border: 1px solid #1fde82;
    &:hover{
        background-color: slategrey;
        border: 1px solid slategrey;
    }
}
.colored-reverse{
    border: 1px solid slategrey;
    color: slategrey;
    &:hover{
        color: #fff;
        background-color: #1fde82;
        border: 1px solid #1fde82;
    }
}

.colored-advantage{
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    &:hover{
        background-color: #1fde82;
        border: 1px solid #1fde82;
    }
}

.service-content.row{
    border-radius: 2%;
    background-color: rgb(233, 230, 230);
    align-items: flex-start;
}

// .col-12.col-md-4{
//     height: 100%;
//     margin-bottom: 0px;
// }

.service-item{
    // min-height: 300px;
    background-color: #fff;
    border-radius: 5%;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.icon-round{
    width: 75px;
    margin-bottom: 20px;
}

.readmore{
    color: slategrey;
    transition: 0.3s;
    display: block;
    // margin-top: auto;
    &:hover{
        color: #1fde82;
    }
}

.advantage{
    background-color: #2570ff;
    color: #fff;
}

.data-item{
    background-color: #3f81ff;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    .num{
        font-size: 36px;
        margin-bottom: 30px;
        
    }
}

.step{
    .step-row{
        margin-bottom: 30px;
    }
}

.project-item{
    position: relative;
    height: 300px;
    overflow: hidden;
    .show{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        padding-left: 20px;
        margin: auto;
        opacity: 0;
        font-size: 20px;
    }
    &:hover{
        .show{
            background-color: #1fde82;
            opacity: 1;
            transition: 0.5s;
        }
    }
}

.viewsite{
    margin-right: auto;
}

.signup-title{
    font-size: 32px;
    margin-bottom: 20px;
}

.signup-input input, textarea{
    width: 100%;
    font-size: 22px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    resize: vertical;
}

.subscribe-container{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.email-row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

[type="email"]{
    flex-grow: 1;
    font-size: 26px;
}

.send-btn{
    padding-bottom: 10px;
    text-transform: uppercase;
}

footer .row{
    align-items: flex-start;
}

.footer-content{
    display: flex;
    flex-direction: column;
    .title{
        font-size: 22px;
    }
    .logo{
        width: 158px;
        margin-bottom: 20px;
    }
}

:target{
    padding-top: 155px;
    margin-top: -155px;
}

.media-icon{
    display: flex;
    margin-top: 20px;
    li{
        margin-right: 5px;
    }
    a{        
        width: 30px;
        height: 30px;
        border: 2px solid gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    i{
        font-size: 22px;
        color: gray;
    }
}

.go-back{
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    a{        
        width: 50px;
        height: 50px;
        border: 2px solid #1fde82;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }
    i{
        font-size: 22px;
        color: #1fde82;
        transition: .3s;
    }
    &:hover{
        a{
            border: 2px solid #ccc;
        }
        i{
            color: #ccc;
        }
    }
}

@media screen and (max-width: 767px) {
    .menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 30%;
        background-color: #ffe;
        right: -100%;
        padding-top: 100px;
        padding-left: 20px;
        transition: .3s;
        a{
            min-height: 36px;
            margin-bottom: 20px;
            box-sizing: border-box;
            &:hover{
                border-bottom: 1px solid gray;
            }
        }
        [href="#subscribe-area"]{
            display: none;
        }
    }
    .ham{
        width: 50px;
        height: 50px;
        background-color: #1fde82;
        transition: .3s;
        position: absolute;
        top: 45px;
        right: 20px;
        span{
            width: 80%;
            height: 6px;
            background-color: #fff;
            display: block;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
        }
    }
    
    .ham span:first-child{
        top: 10px;
    }
    .ham span:nth-child(2){
        top: 0px;
        bottom: 0px;
    }
    .ham span:last-child{
        top: auto;
        bottom: 10px;
    }
    #menu-control:checked+.menu{
        right: 0px;
        top: 0px;
        transition: .3s;
    }
    #menu-control:checked~.ham{
        background-color: #ffa;
        transition: .3s;
    }
}

@media screen and (min-width: 768px) {
    .menu{
        margin-top: 20px 0px;
        margin-left: auto;
        a{
            margin-right: 15px;
        }
    }
    .data-item{
        min-height: 150px;
    }
    .step{
        .step-row{
            &:nth-of-type(odd){
                flex-direction: row-reverse;
                justify-content: left;
            }
        }
    }
    .project h2{
        margin-right: auto;
    }
    .project .colored{
        margin-left: auto;
    }
    .project-item{
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .loud, h2{
        font-size: 56px;
    }
    .advantage .data-item{
        text-align: left;
        .num{
            font-size: 54px;
        }
    }
    .step{
        .step-row{
            &:nth-of-type(odd){
                .step-content:nth-child(1){
                    margin-left: 8.333333%;
                }
            }
            &:nth-of-type(1){
                .step-content:nth-child(1){
                    margin-right: 8.333333%;
                }
            }
            &:nth-of-type(even){
                .step-content:nth-child(1){
                    margin-left: 16.666666%;
                }
            }
        }
    }
}