a, ul, li {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  display: block;
}

.enlarge {
  font-size: 30px;
}

.colored, .colored-reverse, .colored-advantage {
  font-size: 16px;
  height: 48px;
  display: inline-block;
  padding: 10px 20px 0px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.colored {
  color: #fff;
  background-color: #1fde82;
  border: 1px solid #1fde82;
}

.colored:hover {
  color: #fff;
  background-color: slategrey;
  border: 1px solid slategrey;
}

.colored-reverse {
  border: 1px solid slategrey;
  color: slategrey;
}

.colored-reverse:hover {
  color: #fff;
  background-color: #1fde82;
  border: 1px solid #1fde82;
}

.colored-advantage {
  border: 1px solid white;
  color: white;
  margin-top: 20px;
}

.colored-advantage:hover {
  background-color: #1fde82;
  border: 1px solid #1fde82;
}

.play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  height: 48px !important;
  padding: 10px;
  text-transform: uppercase;
}

.play i {
  font-size: 22px;
  margin-left: 10px;
}

.mt-10 {
  margin-top: 6rem !important;
}

.mb-10 {
  margin-bottom: 6rem !important;
}

.service-img {
  width: 92px;
}

.readmore {
  color: slategrey;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.readmore:hover {
  color: #1fde82;
}

.advantage {
  background-color: #2570ff;
}

.advantage-item {
  background-color: #3f81ff;
}

.advantage-item .num {
  font-size: 36px;
}

.project-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-left: 20px;
  margin: auto;
  opacity: 0;
  font-size: 20px;
}

.project-item {
  height: 300px;
  overflow: hidden;
}

.project-item:hover .show {
  background-color: #1fde82;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.viewsite {
  -webkit-transition: .3s;
  transition: .3s;
  color: #fff;
}

.viewsite:hover {
  color: slategrey;
}

footer {
  background-color: #e9e7e7;
}

.list-title {
  font-size: 22px;
}

.media-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.media-icon li {
  margin-right: 5px;
}

.media-icon li:hover a {
  border: #1fde82;
  background-color: #1fde82;
}

.media-icon li:hover i {
  color: #fff;
}

.media-icon a {
  width: 50px;
  height: 50px;
  border: 2px solid gray;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.media-icon i {
  font-size: 22px;
  color: gray;
  -webkit-transition: .3s;
  transition: .3s;
}

.copyright {
  font-size: 12px;
}

:target {
  padding-top: 120px;
  margin-top: -120px;
}

.go-back {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.go-back a {
  width: 50px;
  height: 50px;
  border: 2px solid #1fde82;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.go-back i {
  font-size: 22px;
  color: #1fde82;
  -webkit-transition: .3s;
  transition: .3s;
}

.go-back:hover a {
  border: 2px solid #ccc;
}

.go-back:hover i {
  color: #ccc;
}
/*# sourceMappingURL=style.css.map */